{% extends 'apps/profile/base.html' %}
{% load static %}

{% block body %}

    <div class="page-wrapper"
         style="display: flex; justify-content: center; align-items: center; height: 100vh; padding: 20px;">
        <main class="page-content" style="width: 100%; max-width: 900px;">
            <div class="stream" style="width: 100%; max-width: 800px; margin: auto;">
                <div class="section-divider" style="height: 2px; background-color: #eee; margin: 20px 0;"></div>
                <h1 class="page-title" style="text-align: center; margin: 20px 0;">Mening havolalarim</h1>
                <div class="section-divider" style="height: 2px; background-color: #eee; margin: 20px 0;"></div>
                <div class="stream__cards">
                    {% for stream in streams %}
                        <div class="col-sm-4">
                            <div class="card-header">
                                <h5>{{ stream.name }}</h5>
                                <h5>-{{ stream.discount }}</h5>
                            </div>
                            <div class="card">
                                <div class="card-body" style="position: relative;">
                                    <div class="form-group">
                                        <input type="text" id="textToCopy"
                                               value="{{ request.headers.host }}/oqim/{{ stream.id }}" readonly=""
                                               class="ref_link form-control">
                                    </div>
                                    <button class="copy_ref_bn btn btn-primary"
                                            style="float:left; margin-right:9px; margin-top: 9px;" onclick="copyText()">
                                        Nusxa ko'chirish
                                    </button>
                                    <a href="https://alijahon.uz/oqim/{{ stream.id }}" target="_blank"><i
                                            class="fa-solid fa-square-arrow-up-right"
                                            style="font-size: 29px; float:left; color:#e52c2c; margin-top: 9px; margin-right:9px;"
                                            aria-hidden="true"></i></a>
                                    <a href="https://t.me/AlijahonBot?start=order_{{ stream.id }}" target="_blank"><i
                                            class="fa-brands fa-telegram"
                                            style="font-size: 29px; float:left; color:#e52c2c; margin-top: 9px;"
                                            aria-hidden="true"></i></a>

                                    <button class="btn btn-primary btn_open_modal" type="button" data-bs-toggle="modal"
                                            style="float:left; margin-right:9px; margin-left: 9px; margin-top: 9px;"
                                            data-bs-target="#exampleModal" name="{{ stream.id }}">
                                        csv
                                    </button>
                                </div>
                            </div>
                            <br>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </main>
    </div>
    <script>
        function copyText() {
            const copyText = document.getElementById('textToCopy').value;
            navigator.clipboard.writeText(copyText).then(() => {
                alert('Copied the text: ' + copyText);
            }).catch(err => {
                console.error('Failed to copy: ', err);
            });
        }
    </script>
{% endblock %}
